# Ignore C++ build files
*.o
*.out
*.obj
*.exe

# Ignore debug folders
/build/
/cmake-build-*/
/dist/
/bin/
/debug/
/release/

# VSCode settings (optional)
.vscode/

# MacOS metadata
.DS_Store

# Ignore compiled files in current folder
a.out
*.gch

# Ignore input/output logs
input.txt
output.txt

.vscode/
input.txt
output.txt
Two_Sets
Bit_Strings
Coin_Piles
Trailing_Zeros
gray_code
Tower_Of_Hanoi
creating_strings
apple_division